<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>HAC</title>
</head>

<body>
    <h1>Buy NFT</h1>
    <br>
    <div>
        <a href="/licenseSystem">Main</a>
    </div>
</body>

</html>